{{!<userDefaultLayout }}

<link rel='stylesheet' href="{{asset "css/viewstyle.css"}}"/>
<script src="{{asset "js/highcharts.js"}}"></script>
<script src="{{asset "js/map.js"}}"></script>
<script src="{{asset "js/data.js"}}"></script>
<script src="{{asset "js/us-all.js"}}"></script>
<script src="{{asset "js/sand-signika.js"}}"></script>
	<body class="container" background = "http://www.highcharts.com/samples/graphics/sand.png">
		<div class="row col-md-12 col-lg-12">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div id="mapchart"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div id="reasonchart"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div id="agechart"></div>
			</div>
			
		<div class="row col-md-12 col-lg-12">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div id="schoolchart"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div id="degreechart"></div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div id="majorchart"></div>
			</div>


<script src="{{asset "js/clients.js"}}"></script>