<tr name="{{id}}">
        <td>{{client/chineseName}}</td>
        <td>{{client/firstName}}</td>
        <td>{{client/lastName}}</td>
        <td>{{age}}</td>
        <td>{{client/primaryEmail}}</td>
        <td>{{client/primaryPhone}}</td>
        <td>{{client/otherInfo}}</td>
        <td>{{contractCategory/category}}</td>
        <td>{{createdAt}}</td>
        <td>{{lead/lead}}</td>
        <td>{{leadName}}</td>
        <td>{{leadLevel.leadLevel}}</td>
        <td>{{status.status}}</td>
        <td>前期助理</td>
        <td>{{sales/nickname}}</td>
        <td data-attr="expert" data-type="selection" class="selectbox" data-model="Contract">{{expert/nickname}}</td>
        <td data-attr="originalText" data-type="text" class="textbox" data-model="Contract">{{shortText originalText}}</td>        
        <td data-attr="salesFollowup" data-type="text" class="textbox" data-model="Contract">{{shortText salesFollowup}}</td>
        <td data-attr="salesRecord" data-type="text" class="textbox" data-model="Contract">{{shortText salesRecord}}</td>
        <td>专家咨询日期</td>
        <td data-attr="expertFollowup" data-type="text" class="textbox" data-model="Contract">{{shortText expertFollowup}}</td>
        <td>{{country.country}}</td>
        <td>{{validI20}}</td>
        <td>{{previousSchool}}</td>
        <td>{{targetSchool}}</td>
        <td>{{gpa}}</td>
        <td>{{toefl}}</td>
        <td>{{otherScore}}</td>
        <td>{{degree/degree}}</td>
        <td>{{diagnose}}</td>
        <td>{{contractSigned}}</td>
        <td>{{contractPaid}}</td>
        <th>{{#each service}}{{#ifCond serviceType/category "Transfer"}}<a href="/admin/service/{{id}}">{{serviceType/serviceType}}</a>{{/ifCond}}{{/each}}</th>
        <th>{{#each service}}{{#ifCond serviceType/category "Emerg"}}<a href="/admin/service/{{id}}">{{serviceType/serviceType}}</a>{{/ifCond}}{{/each}}</th>
        <th>{{#each service}}{{#ifCond serviceType/category "Study"}}<a href="/admin/service/{{id}}">{{serviceType/serviceType}}</a>{{/ifCond}}{{/each}}</th>
        <th>{{#each service}}{{#ifCond serviceType/category "Visa"}}<a href="/admin/service/{{id}}">{{serviceType/serviceType}}</a>{{/ifCond}}{{/each}}</th>
        <td>{{contractPrice}}</td>
        <td>{{contractDetail}}</td> 
        <td>{{applicationFeePaid}}</td>
        <td>{{paymentOption/paymentOption}}</td>
        <td>{{endFee}}</td>
        <td>{{teacher/nickname}}</td>
        </tr> 