
{{#if application}}
{{#each application}}
<tr name="{{../id}}">
        <td>{{../contract/client/chineseName}}</td>
        <td>{{../contract/client/firstName}}</td>
        <td>{{../contract/client/lastName}}</td>
        <td>{{../progress}}</td>
        <td>{{../serviceType/serviceType}}</td>
        <td>{{collageName}}</td>
        <td>{{../contract/createdAt}}</td>
        <td>{{newDev}}</td>
        <td>{{succeed}}</td>
        <td data-attr="studentDestination" data-type="text" class="textbox" data-model="Service" data-id="{{id}}">{{../studentDestination}}</td>
        <td>{{appliedSemester}}</td>
        <td>{{writer}}</td>
        <td>{{studentCondition}}</td>
        <td>{{step1}}</td>
        <td>{{step2}}</td>
        <td>{{../serviceTeacher/nickname}}</td>
        <td><a class="add" href="#">Add</a><a class="edit" href="#{{id}}">Edit</a><a class="del" href="#{{id}}">Delete</a></td>
        </tr> 
{{/each}}
{{else}}
        <tr name="{{id}}">
        <td>{{contract/client/chineseName}}</td>
        <td>{{contract/client/firstName}}</td>
        <td>{{contract/client/lastName}}</td>
        <td>{{progress}}</td>
        <td>{{serviceType/serviceType}}</td>
        <td>{{collageName}}</td>
        <td>{{contract/createdAt}}</td>
        <td>{{newDev}}</td>
        <td>{{succeed}}</td>
        <td data-attr="studentDestination" data-type="text" class="textbox" data-model="Service" >{{studentDestination}}</td>
        <td>{{appliedSemester}}</td>
        <td>{{writer}}</td>
        <td>{{studentCondition}}</td>
        <td>{{step1}}</td>
        <td>{{step2}}</td>
        <td>{{serviceTeacher/nickname}}</td>
        <td><a class="add" href="#">Add</a></td>
        </tr> 
        {{/if}}