
{{#if application}}
{{#each application}}
<tr name="{{../id}}">
        <td>{{../contract/client/chineseName}}</td>
        <td>{{../contract/client/firstName}}</td>
        <td>{{../contract/client/lastName}}</td>
        <td>{{../progress}}</td>
        <td>{{../serviceType/serviceType}}</td>
        <td>{{../contract/createdAt}}</td>
        <td >{{displayBool newDev}}</td>
        <td >{{displayBool succeed}}</td>
        <td data-attr="collageName" data-type="text" class="textbox" data-model="Application" data-id="{{id}}">{{collageName}}</td>
        <td data-attr="studentDestination" data-type="text" class="textbox" data-model="Service">{{../studentDestination}}</td>
        <td>{{appliedSemester}}</td>
        <td>{{#if writer}}{{writer/nickname}}{{/if}}</td>
        <td>{{studentCondition}}</td>
        <td>{{step1}}</td>
        <td>{{step2}}</td>
        <td>{{../service/contract/teacher/nickname}}</td>
        <td></td>
        <td><a class="add" href="#">Add</a><a class="edit" href="#{{id}}">Edit</a><a class="del" href="#{{id}}">Delete</a></td>
        </tr> 
{{/each}}
{{else}}
        <tr name="{{id}}">
        <td>{{contract/client/chineseName}}</td>
        <td>{{contract/client/firstName}}</td>
        <td>{{contract/client/lastName}}</td>
        <td>{{progress}}</td>
        <td>{{serviceType/serviceType}}</td>        
        <td>{{contract/createdAt}}</td>
        <td>{{displayBool newDev}}</td>
        <td>{{displayBool succeed}}</td>
        <td>{{collegeName}}</td>
        <td data-attr="studentDestination" data-type="text" class="textbox" data-model="Service" >{{studentDestination}}</td>
        <td>{{appliedSemester}}</td>
        <td>{{writer}}</td>
        <td>{{studentCondition}}</td>
        <td>{{step1}}</td>
        <td>{{step2}}</td>
        <td>{{contract/teacher/nickname}}</td>
        <td><a class="comment_edit" href="#{{id}}">Show Comments</a></td>
        <td><a class="add" href="#">Add</a></td>
        </tr> 
        {{/if}}