
{{#if application}}
{{#each application}}
{{#ifCond display false}}
{{else}}
<tr name="{{../../id}}">
        <td>{{../../contract/client/chineseName}}</td>
        <td>{{../../contract/client/firstName}}</td>
        <td>{{../../contract/client/lastName}}</td>
        <td data-attr="serviceProgress" data-coll="ServiceProgress" data-optext="serviceProgress" class="selectbox" data-model="Service">{{../../serviceProgress/serviceProgress}}</td>
        <td>{{../../serviceType/serviceType}}</td>
        <td>{{../../contract/contractSigned}}</td>
        <td><a class="add" href="#">Add</a><a class="edit" href="#{{id}}">Edit</a>{{#if ../../../displayDelete}}<a class="del" href="#{{id}}">Delete</a>{{/if}}</td>
        <td >{{displayBool newDev}}</td>
        <td >{{displayBool succeed}}</td>
        <td data-attr="collageName" data-type="text" class="textbox" data-model="Application" data-id="{{id}}">{{collageName}}</td>
        <td data-attr="studentDestination" data-type="text" class="textbox" data-model="Service">{{../../studentDestination}}</td>
        <td>{{appliedSemester}}</td>
        <td>{{#if writer}}{{writer/nickname}}{{/if}}</td>
        <td data-attr="step1" data-type="text" class="textbox" data-model="Service">{{detailStatus ../../serviceType/serviceType 1}}{{../../step1}}</td>
        <td data-attr="step2" data-type="text" class="textbox" data-model="Service">{{detailStatus ../../serviceType/serviceType 2}}{{../../step2}}</td>
        <td ><button data-type="{{../../serviceType/id}}" class="pop">Show</button></td>
        <td><a class="comment_edit" href="#{{id}}" data-type="app">Show Comments</a></td>
        
        </tr> 
{{/ifCond}}
{{/each}}
{{else}}
        <tr name="{{id}}">
        <td>{{contract/client/chineseName}}</td>
        <td>{{contract/client/firstName}}</td>
        <td>{{contract/client/lastName}}</td>
        <td data-attr="serviceProgress" data-coll="ServiceProgress" data-optext="serviceProgress" class="selectbox" data-model="Service">{{serviceProgress/serviceProgress}}</td>
        <td>{{serviceType/serviceType}}</td>        
        <td>{{contract/contractSigned}}</td>
        <td>{{#ifCond serviceType/addApplication true}}<a class="add" href="#">Add</a>{{/ifCond}}</td>
        <td>{{displayBool newDev}}</td>
        <td>{{displayBool succeed}}</td>
        <td>{{collegeName}}</td>
        <td data-attr="studentDestination" data-type="text" class="textbox" data-model="Service" >{{studentDestination}}</td>
        <td>{{appliedSemester}}</td>
        <td>{{writer}}</td>
        <td data-attr="step1" data-type="text" class="textbox" data-model="Service">{{detailStatus serviceType/serviceType 1}}{{step1}}</td>
        <td data-attr="step2" data-type="text" class="textbox" data-model="Service">{{detailStatus serviceType/serviceType 2}}{{step2}}</td>
        <td><button data-type="{{../../serviceType/id}}" class="pop">Show</button></td>
        <td><a class="comment_edit" href="#{{id}}" data-type="serv">Show Comments</a></td>
        
        </tr> 
        {{/if}}