<tr name="{{id}}">
        <td>{{nickname}}</td>
        <td>{{firstname}}</td>
        <td>{{lastname}}</td>
        <td>{{email}}</td>
        <td data-attr="role"  data-coll="Role" data-optext="role" class="selectbox" data-model="User">{{role/role}}</td>
        <td data-attr="userLevel"  data-coll="UserLevel" data-optext="userLevel" class="selectbox" data-model="User">{{userLevel.userLevel}}</td>
        <td data-attr="rank" class="singletextbox" data-model="User">{{rank}}</td>
        <td data-attr="boss" data-coll="User" data-optext="nickname" class="selectbox" data-model="User">{{boss/nickname}}</td>
        <td data-attr="active" class="boolbox" data-model="User">{{displayBool active}}</td>
        </tr> 