<div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">New Contract</h3>
</div>
<div class="bbm-modal__section">
<form>

 <fieldset>

        <div class="form-group">
            <label for="blog-title">First Name</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Last Name</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Email</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Phone Number</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            <p>The name of your platform</p>
        </div>

        <div class="form-group">
            <label for="blog-title">First Name</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Last Name</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Email</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Phone Number</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            <p>The name of your platform</p>
        </div>

        <div class="form-group">
            <label for="blog-title">First Name</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Last Name</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Email</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Phone Number</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            <p>The name of your platform</p>
        </div>

        <div class="form-group">
            <label for="blog-title">First Name</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Last Name</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Email</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            
        </div>
        <div class="form-group">
            <label for="blog-title">Phone Number</label>
            <input id="blog-title" name="general[title]" type="text" value="{{title}}" />
            <p>The name of your platform</p>
        </div>
</fieldset>

</form>
</div>
<div class="bbm-modal__bottombar">
    <a href="#" class="bbm-button cancel">Close</a>
    <a href="#" class="bbm-button ok">OK</a>
</div>