<header>
    <button class="button-back">Back</button>
    <h2 class="title">Add Reply Materials</h2>
    <section class="page-actions">
        <button class="button-save">Save</button>
    </section>
</header>

<section class="content">
    <form id="settings-material" novalidate="novalidate">
        <fieldset>

            <div class="form-group">
                <label for="mat-title">Title</label>
                <input id="mat-title" name="general[title]" type="text" value="{{title}}" />
                <p>The Title in Message</p>

                <select id="MsgType">
                    <option value="text" {{#ifCond msgtype 'text' }} selected {{/ifCond}}>Text</option>
                    <option value="news" {{#ifCond msgtype 'news' }} selected {{/ifCond}}>News</option>
                    <option value="music" {{#ifCond msgtype 'music' }} selected {{/ifCond}}>Music</option>
                </select>
            </div>
        </fieldset>
        
        
        <fieldset class="details {{#ifCond MsgType 'news'}}active {{/ifCond}}" id="for-news">
            <div class="form-group" class="article">
                <label for="blog-description">Description</label>
                <textarea id="blog-description">{{description}}</textarea>
            </div>
            <div class="form-group">
                <label for="blog-cover">Cover Image</label>
                {{#if cover}}
                <a class="js-modal-cover" href="#"><img id="blog-cover" src="{{cover}}" alt="cover photo"></a>
                {{else}}
                <a class="button-add js-modal-cover">Upload Image</a>
                {{/if}}
                <p>Display cover image (First news)</p>
            </div>
            <div class="form-group">
                <label for="url">Url</label>
                <input id="url" name="url" type="text" value="{{url}}" />
            </div>
        </fieldset>
       

        <fieldset class="details {{#ifCond MsgType 'music'}}active {{/ifCond}}" id="for-music">
            <div class="form-group" class="music">
                <label for="blog-description">Description</label>
                <textarea id="blog-description">{{description}}</textarea>
            </div>
            <div class="form-group">
                <label for="url">Url</label>
                <input id="url" name="url" type="text" value="{{url}}" />
            </div>
            <div class="form-group">
                <label for="url">HQMusic Url</label>
                <input id="hqurl" name="hqurl" type="text" value="{{hqurl}}" />
            </div>
        </fieldset>


        <fieldset class="details {{#ifCond MsgType 'music'}}active {{/ifCond}}" id="for-text">
            <div class="form-group" class="text">
                    <label for="blog-description">Content</label>
                    <textarea id="blog-description">{{content}}</textarea>
                </div>
        </fieldset>
    </form>
</section>
