<header>
    <button class="button-back">Back</button>
    <h2 class="title">Your Profile</h2>
    <section class="page-actions">
        <button class="button-save">Save</button>
    </section>
</header>

<section class="content no-padding">
     <header class="user-profile-header">
        <a class="edit-cover-image js-modal-cover button" href="#">Change Cover</a>
    </header>
    <form class="user-profile" novalidate="novalidate">

        <fieldset class="user-details-top">
            <div class="form-group">
                <label for="user-firstname" >First Name</label>
                <input type="url" value="{{firstname}}" id="user-firstname" placeholder="First Name" autocorrect="off" />
                <p>Use your real name so people can recognise you</p>
            </div>
            <div class="form-group">
                <label for="user-lastname">Last Name</label>
                <input type="url" value="{{lastname}}" id="user-lastname" placeholder="Last Name" autocorrect="off" />
                <p>Use your real name so people can recognise you</p>
            </div>
             <div class="form-group">
                <label for="user-name" >Nickname</label>
                <input type="url" value="{{nickname}}" id="user-nickname" placeholder="Nickname" autocorrect="off" />
                <p>Use your nickname for general use</p>
            </div>
        </fieldset>

        <fieldset class="user-details-bottom">

            <div class="form-group">
                <label for"user-email">Email</label>
                <input type="email" value="{{email}}" id="user-email" placeholder="Email Address" autocapitalize="off" autocorrect="off" />
                <p>Used for notifications</p>
            </div>
            <div class="form-group">
                <label for"user-phone">Phone</label>
                <input type="text" value="{{phone}}" id="user-phone" placeholder="Phone" autocapitalize="off" autocorrect="off" />
                <p>Used for notifications</p>
            </div>
            <div class="form-group">
                <label for"user-skype">Skype</label>
                <input type="text" value="{{skype}}" id="user-skype" placeholder="Skype" autocapitalize="off" autocorrect="off" />
                <p>Used for notifications</p>
            </div>
            <div class="form-group bio-container">
                <label for="user-bio">Bio</label>
                <textarea id="user-bio">{{bio}}</textarea>
                <p>
                    Write about you, in 200 characters or less.
                    <span class="word-count">0</span>
                </p>
            </div>

            <hr />

        </fieldset>

        <fieldset>

            <div class="form-group">
                <label for="user-password-old">Old Password</label>
                <input type="password" id="user-password-old" />
            </div>

            <div class="form-group">
                <label for="user-password-new">New Password</label>
                <input type="password" id="user-password-new" />
            </div>

            <div class="form-group">
                <label for="user-new-password-verification">Verify Password</label>
                <input type="password" id="user-new-password-verification" />
            </div>
            <div class="form-group">
                <button type="button" class="button-delete button-change-password">Change Password</button>
            </div>

        </fieldset>

    </form>
</section>
